* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bg-color: rgb(218, 218, 218);
    --bg-header: rgb(173, 173, 173);
    --bg-main: rgb(235, 235, 235);
    --bg-aside: rgb(133, 133, 133);
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header h1 a {
    color: black;
    text-decoration: none;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 3vh;
    font-size: 1.2rem;
    list-style-type: none;
    padding: 0 3vw 0 0;
  }
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: rgb(0, 48, 239);
    cursor: pointer;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }
  main > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
    align-content: center;
  }
  .header {
    background-color: var(--bg-header);
    height: 200px;
  }
  .main-section {
    background-color: var(--bg-main);
    padding: 5vh;
    min-height: 70vh;
  }
  .aside-1 {
    background-color: var(--bg-aside);
  }
  .aside-2 {
    background-color: var(--bg-aside);
  }
  
  footer {
    border-radius: 0;
    padding: 5vh;
    margin: 0;
    width: 100%;
    background-color: var(--bg-header);
    text-align: center;
  }
  
  @media all and (min-width: 800px) {
    .main-section {
      flex: 2;
      order: 3;
    }
    .aside-1 {
      order: 2;
    }
    .aside-2 {
      order: 3;
    }
    footer {
      order: 4;
    }
  }
  
  @media all and (min-width: 600px) {
    .aside {
      flex: 1;
    }
  }
  @media all and (min-width: 400px) {
    .aside {
      padding: 5vh;
    }
  }
  